body {
    background-color: mintcream;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h4 {
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
}

h1 {
    margin: 0;
    font-size: 50px;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #e9e9e9;
    font-family: 'DM Sans', sans-serif;
}

.nav__logo {
    color: rgb(131, 131, 131);
}

.nav__logo:hover {
    color: rgb(46, 46, 46);
}

.nav__links-list {
    display: flex;
    justify-content: space-around;
    width: 25%;
}

.nav__links-list li {
    list-style-type: none;
}

.nav__links-list a{
    color: rgb(131, 131, 131);
    text-decoration: none;
    letter-spacing: 2px;
}

.nav__links-list a:hover {
    color: rgb(46, 46, 46);
}

.film {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.film__video-loop video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    object-fit: cover;
}

.content {
    background-color: burlywood;
    justify-content: space-around;
    width: 100%;
    min-height: fit-content;
    align-items: center;
}

.content__about {
    font-family: 'DM Sans', sans-serif;
    text-align: center;
}